## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an unordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }

#### INDEXING SUPPORTED Datatypes
- list
- tuple
- str

#### Index not supported Datatypes
- set
- dictionary

### Integers 
    - any postive or negative whole numbers (-0 ,1 ,9 ,11)

In [ ]:
intVar = -1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

print(intVar, type(intVar))

In [ ]:
intVar2 = 1029
print(intVar2)
print(type(intVar2))

    Binary          0b or 0B  - bin()
    Octal           0o or 0O - oct()
    hexdecimal     0x or 0X  - hex()

In [ ]:
8BIT REPRESENTATION(0-255)
========================

locations : 7   6  5  4  3  2 1 0 
values:     128 64 32 16 8  4 2 1

In [ ]:
print(bin(270000))

In [ ]:
a = 0b1010 #10
b = 0b101  #5

print(a+b)

In [ ]:
print(bin(10)) #convert any decimal -- binary 
print(bin(5))

In [ ]:
c = 0o10
d = 0b100

print(c+d)

In [ ]:
print(oct(8)) #any decimal - octal

In [ ]:
e = 0xA
f = 0xB


print(e+f)

In [ ]:
print(hex(11))

### Float 
    - any decimal points is considered as float datatypes

In [ ]:
floatVar = 1.0

print(floatVar , type(floatVar))

In [ ]:
* -- multiplication
** -- expo / power

In [ ]:
print(10*3)
print(10**3)

In [ ]:
# ex: 10.5*10^3

a = 10.5*(10**3)

print(a)

In [ ]:
b = 10.5e3 # e ---> 10^n

print(b)

In [ ]:
print(3e-3)

### Strings 
    - collectional of charcaters (letters , symbols,numbers)
    - we have 3 notations to represent the strings 
        - single quotes   - 'a' 'hello'
        - double quotes   - "Hello World" 
        - triple quotes   - mutlipline strings

In [ ]:
singleQ = 'Hello'
print(singleQ)

In [ ]:
a = 'It's a good movie'

print(a)

In [ ]:
b = "It's a good movie"

print(b)

In [ ]:
c = "python is "oops" language"

print(c)

In [ ]:
c = """"python is "oops" language"""

print(c)

In [ ]:
d = """python is oops
and functional
language"""

print(d)

In [ ]:
d = '''python is oops
and functional
language'''

print(d)

### complex numbers 
    - real+imagj
    - real number is optional
    - imag number is mandatory

In [ ]:
comVar = 6+8j

In [ ]:
print(comVar , type(comVar))

In [ ]:
comvar2 = 7j # 0+7j

print(comvar2, type(comvar2))

### Boolean
    - True or False values consider as boolean

In [ ]:
bol_var = True
bol_var2 = False

print(bol_var + bol_var2)

print(bol_var * bol_var2)

In [ ]:
a=10
b=20
a+b
a-b

In [ ]:
a = 10
a = a+13.0
print(type(a))

### Try these

- Read a Number from Keyboard
- Count number of zeros in it:
- If no zeroes were found , by default print -1

    ex: num = 102630280
        
        o/p: 3
        
     ex: num = 98339829
         
         o/p: -1

In [ ]:
I want to store 100 students names ?

how variables required?

st1_name = "ram"
st2_name = "venu"
..
..
..
st100_name = "kumar"

In [ ]:
studentNames = ["ram","venu","kumar"]

In [ ]:
print(studentNames[1])

### List 
    - It's a collection & ordered & indexed data type
    - It's stores mutliple items in one variable
    - Indexing 
            postive  0 ---> N-1
            negative -1 ---> -N
    - It's Mutable ---> Changes are allowed
    - declared with []
    - stores hemogeneuous & hetrogenous data types
    
    
    syntax:
    
    varName = [data1,data2,....]

In [ ]:
lstNumbers = [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers

print(lstNumbers , type(lstNumbers))


fruits = ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)


countries = ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)


mixedList = ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float

In [ ]:
print(len(fruits))

In [ ]:
# accessing VarName[index]  
print(fruits , type(fruits))
# 
print(fruits[2])

In [ ]:
print(fruits[5])


#POSTIVE INDEXING ::: 0 ---> LEN-1

#NEGATIVE  INDEXING : -1 ---> -LEN

In [ ]:
print(fruits[3])

In [ ]:
n = len(fruits)

print(fruits[n-1])  #n-1 is the last location

In [ ]:
print(fruits[-1])

In [ ]:
print(fruits[-10])

In [ ]:
print(fruits[-4])

In [ ]:
print(fruits)

In [ ]:
fruits[3] = "pineapple" #mutablity 
print(fruits)

In [ ]:
fruits[4] = "grape"
print(fruits)

In [ ]:
print(mixedList)

print(mixedList[2])

print(mixedList[-1])

print(type(mixedList[0]))

In [ ]:
print(type(fruits))

In [ ]:
# attributes and methods 

print(dir( set() ))

### List Method 

    - insertion
         append(obj)
         insert(ind,obj)
         extend([obj1,obj2..])
    - deletion
        pop()
        remove()
    - popular 
        reverse()
        copy()
        clear()
        sort()
        count()
        index()

In [ ]:
print(dir([]))

In [ ]:
countries = ['Finland','Estonia', 'Sweden','Norway']

#append() 

countries.append("India")
print(countries)



countries.append("Fiji")
print(countries)


countries.append("USA","AUS") #error
print(countries)

In [ ]:
print(countries)

In [ ]:
#insert(indNum,obj)

countries.insert(0,"Indo")
print(countries)

In [ ]:
countries[0] = "INDO"

print(countries)

In [ ]:
countries.insert(-1,"Pak")
print(countries)

In [ ]:
print(len(countries))
print(countries[-7])

In [ ]:
countries.insert(-10,"Cuba") 
print(countries)

In [ ]:
countries.insert(100,"Seria")
print(countries)

In [ ]:
# extend([obj1,obj2..])

countries.extend(["Russai","Seria","Finland","Norway","Pak"])

print(countries)

### Try these
- Display only unquie contries

In [ ]:
print(countries, len(countries))

In [ ]:
a = print("Hello") #calling 
print(a)

print(print("hi"))

In [ ]:
help(print())

In [ ]:
def addition(a,b):
    print(a+b)
    
    
result = addition(10,20) #fun calling
print(result)


print(addition(3,7))

In [ ]:
def addition(a,b):
    print(a+b)
    return "hello from addition fun.."
    
result = addition(10,20) #fun calling
print(result)


print(addition(3,7))

In [ ]:
print(countries)

In [ ]:
# pop()
r = countries.pop() #pop() will remove and return the popped element
print(r)

In [ ]:
print(countries.pop(30)) # give only valid locations

In [ ]:
# 
num = [1,2,3,4]
num.pop()
num.pop()
num.pop()
num.pop()
print(num)
num.pop()

In [ ]:
num = [1,222,30,420]
num.pop(20)

In [ ]:
# remove()
print(countries)
countries.remove("Finland")
print(countries)

In [ ]:
res = countries.remove("Sweden")
print(res)

In [ ]:
print(countries)

In [ ]:
res1 = countries.pop()
print(res1)

In [ ]:
print(countries)

In [ ]:
names = ["Prakash","Manoj","Kumar","Lavanya"]

r1 = names.pop() #default : -1 
print(r1)
print(names)

r2 = names.remove("Kumar") #not returning any value
print(r2)
print(names)

In [ ]:
# reverse()
names.reverse()

print(names)

In [ ]:
# sort()
names.sort()
print(names)

In [ ]:
lst = "RCB MI CSK RR KKR GT PB".split() #str - list
print(lst)


lst.sort() #ascending (small - big)

print(lst)

# ##ascii

print(ord("C") , ord("G"))

In [ ]:
msg = 'Hi hello Welcome Datatypes Session'.split()

print(msg)

msg.sort()

print(msg)

In [ ]:
print(ord("H") , ord('h'))

In [ ]:
nums = [1,0,293,2983,262,2982]
nums.sort() #small - big

print(nums)

nums.sort(reverse=True) #True - Desc | False -- Asec

print(nums)

In [ ]:
print(lst)

In [ ]:
# count() - display the occurence of a data element.

lst = 'K u m a r R a j a m o n i p y t h o n t u T o R'.split()
print(lst)

print(lst.count("a"))

print(lst.count(" "))

In [ ]:
# index() - return the index number of a data element.

print(lst.index("a")) #return the fist index

In [ ]:
print(lst.index("o"))

In [ ]:
# clear()
nums = [10,203,40]
print(nums)



nums.clear()

#after clear
print(nums)

In [ ]:
nums = [10,203,40]
print(nums)


del nums #removes from memory 
print(nums)

In [ ]:
# copy()

countries = ["india" ,"bang","korea"]
copyVar = countries.copy()

print(copyVar)

print(id(copyVar) , id(countries))

In [ ]:
copyVar[0] = "SouthAfrica"

print(copyVar)
print(countries)

In [ ]:
# summary 
    ==> insertion
    ================
        append(obj)
        insert(ind,obj)
        extend([obj1,obj2...objn])
        
        
    deletion
    =======================
        pop(index=-1)
        remove()
        
    popular 
    ============================
    reverse()
    count()
    index()
    sort() #default is desc
    clear()
    copy()
    
    
        OBSERVATION
    =============================
    - insert() , even index is +ve/-ve invalid , we can insert the data
    - pop() default will remove last indexed element
    - we can't pop empty list
    - remove() will throw Error if element is not there
    - sort(reverse=True) : asc order.

### Tuple 
    - It's also collections and sequence & ordered data types
    - stores multiple items in a single variable.
    - declared with (ele1,ele2 ,ele3...)
    - INDEXING 
        - +VE : 0 - N-1
        - -VE : -1 - -N
    - Immutable : changes not allowed at indexing levels

In [ ]:
planets = ('Earth',"Venus", 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

In [ ]:
print(planets , type(planets))

In [ ]:
print(planets[2])

In [ ]:
print(planets[-1])

In [ ]:
print(planets[-100])

In [ ]:
planets[1] = "Pluto" #error

### tuple methods
    - count()
    - index()

In [ ]:
print(dir( () ))

In [ ]:
planets.count("Mars")

In [ ]:
planets.count("Aplha")

In [ ]:
planets

In [ ]:
planets.index("Venus")

In [ ]:
planets.index("Pluto")

## Set 
    - It's Un-Ordered & Un-Indexed.
    - Doesn't store the duplicates.
    - declared with {}
    - No Indexing because of No Ordering.
    - Mutable

In [3]:
print(type( () ))

<class 'tuple'>

In [4]:
teams = {"Ind","Aus","Eng","Bang","Pak","Sa","Sa","Aus"}
print(teams)

{'Bang', 'Sa', 'Eng', 'Aus', 'Pak', 'Ind'}

In [ ]:
print(teams[0]) #error set' object is not subscriptable

#### set methods
        'add', 'clear', 'copy', 'difference', 'difference_update', 
        'discard', 'intersection', 'intersection_update', 'isdisjoint', 
        'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference',
        'symmetric_difference_update', 'union', 'update'

In [5]:
print(type( [] ))
print(type( () ))
print(type( {} ))
print(type( set() ))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [6]:
print(dir( set() ))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [7]:
print(teams)

{'Bang', 'Sa', 'Eng', 'Aus', 'Pak', 'Ind'}

In [8]:
teams.add("Zimb") #add data to the set.

In [9]:
print(teams)

{'Bang', 'Sa', 'Eng', 'Zimb', 'Aus', 'Pak', 'Ind'}

In [14]:
teams.discard("Eng") #no element no  error 
print(teams)

{'Bang', 'Zimb', 'Aus', 'Pak', 'Ind'}

In [15]:
teams.remove("Sa") #no element will throw error
print(teams)

KeyError: 'Sa'

In [16]:
teams.remove("USA") #raise Error if not a element
print(teams)

KeyError: 'USA'

In [17]:
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(x.difference(y))

{'amazon'}

In [18]:
#difference()
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(y.difference(x))

{'netflix'}

In [19]:
# union()

print(x.union(y))

print(x | y) #pipe symbol

{'google', 'amazon', 'apple', 'netflix'}
{'google', 'amazon', 'apple', 'netflix'}

In [20]:
# intersection
print(x.intersection(y)) #common elements

{'google', 'apple'}

In [21]:
print(x)

{'google', 'amazon', 'apple'}

In [25]:
print(x.pop())

KeyError: 'pop from an empty set'

In [ ]:
{}.pop()
[].pop()
{dict}.pop()

# raise a KeyError

In [27]:
a = {"iphone12","iphone13","iphone14"}
b = {"iphone14","ipadpro","microsoftSurface","iphone16"}

print(a.isdisjoint(b))

False

In [29]:
c = {"iphone12","iphone14"}

print(c.issubset(a))

True

In [30]:
# remove duplicate elements
lst = [10,20,30,20,20,30,20]

print(len(lst))

7

In [31]:
NoDupList = set(lst) #list -- set convertion

print(NoDupList , len(NoDupList))

{10, 20, 30} 3

In [ ]:
#prebild method 
int()
float()
complex()
bool()
str()

list()
tuple()
set()
dict()

### Dictionary 
        - Based on key:value
		- Keys should be immutable and unique
			:: Immutable 	
					- str
					- tuple 
					- int , float , complex , boolean
        - Indexing is based on Keys
		##methods 
			- keys()
			- values()
			- items()
			- pop()
			- popitem()
			- update()
			- get()
            
        syntax:
            varName = {
                k1:v1,
                k2:v2,
                ...
                ...
                
                kn:vn
                }

In [32]:
team = {
    'cricketTeamName' : 'India',
    'Captain' : 'RS',
    'country' : 'India', 
    'year' : 2022, 
    'is_top20' : True,
    'Players' : ['Virat', 'Rohit', 'Bhu', 'Python']
    }

print(team , type(team))

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']} <class 'dict'>

In [33]:

print(type(10))

print(type("kumar"))

print(type([]))

print(type( () ))


print(type(set()))

print(type({}))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [34]:
team

{'cricketTeamName': 'India',
 'Captain': 'RS',
 'country': 'India',
 'year': 2022,
 'is_top20': True,
 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [35]:
team[0]

KeyError: 0

In [36]:
team['country']

'India'

In [37]:
print(team.keys())

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [38]:
print(team['country'])

India

In [39]:
print(team["Captain"])

RS

In [40]:
print(team["Players"])

['Virat', 'Rohit', 'Bhu', 'Python']

In [41]:
print(team['ipl_captain'])

KeyError: 'ipl_captain'

### methods

In [47]:
#get()
print(team.get('country','key is not there'))

India

In [51]:
print(team["Captain"]) #fastest

RS

In [52]:
print(team.get("YEAR","key not there"))

key not there

In [ ]:
['keyname'] --> always should be valid key otherwise raise keyerror
.get('keyname') --> if key is invalid it will print None or some text

In [53]:
#keys()

print(team.keys())

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [54]:
#values()
print(team.values())

dict_values(['India', 'RS', 'India', 2022, True, ['Virat', 'Rohit', 'Bhu', 'Python']])

In [55]:
#items() --[(K1,V1),(K2,V2)....] list of tuples


print(team.items())

dict_items([('cricketTeamName', 'India'), ('Captain', 'RS'), ('country', 'India'), ('year', 2022), ('is_top20', True), ('Players', ['Virat', 'Rohit', 'Bhu', 'Python'])])

In [56]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [57]:
team.update({'year' : 2023})

print(team)

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2023, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [58]:
team.update({"Captain":"KL Rahul"})

print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'year': 2023, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [59]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'year': 2023, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [60]:
team.update({"iplCaptain" : 'Kohli'})

print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'year': 2023, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'iplCaptain': 'Kohli'}

In [61]:
res = team.pop("year")

print(res)

2023

In [62]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'iplCaptain': 'Kohli'}

In [69]:
print(team.popitem()) #always remove last (k,v)

KeyError: 'popitem(): dictionary is empty'

In [ ]:
print(team)

In [ ]:
# get()
# items()
# keys()
# values()
# pop()
# popitem()
# update()


# NOTE:
    - U can't access invalid key --> Key Error.
    - U can't pop on invalid key --> Key Error.
    - U can't pop on empty dictionary
    - When you try to update invalid key --> it will create a new entry(k,v)

### Try these?
    - can we create/declare duplicate keys in dictionary?
     if yes what's behaviour.

### Quick summary

#### list 

    - append()
    - insert()
    - extend()
    - pop()
    - remove()
    - clear()
    - copy()
    - index()
    - count()
    - reverse()
    - sort()
    


#### tuple 
    - count()
    - index()



#### set
    - add()
    - discard()
    - remove()
    - union()
    - difference()
    - intersection()
    - isdisjoint()
    - issubset() issuperset()
    - update()



#### dictionary
    - keys()
    - values()
    - get()
    - update()
    - items()
    - pop()
    - popitem()

### doubts

In [ ]:
set
colors = {'red' , 'yellow' , 'blue'}

student = {
        'name' : 'Kumar',
        'fee' : 12000
}

In [ ]:
# primitive : int float complex boolean str
# sequence/collection : list set dictionary tuple 


a = 10
b = 10

print(a is b) # address comparision
print(a,b , id(a) , id(b))

In [ ]:
c = (10,20)
d = (10,20)

print(id(c) , id(d))
print( c is d) # addrress 

print(c == d) # content comparision

In [ ]:
num1 = int(input("Enter number:"))

num1 = str(num1)

if num1.count("0") > 0:
    print(num1.count("0"))
else:
    print(-1)

In [ ]:
nums = "1020920927038038"
count = 0 

for n in nums:
    if n == '0'

In [71]:
companyName = ['Reliance', 'IBM', 'RBC', 'BMO']
numberOfEmployes = ('1000','2500','250','3600')
volume = {'120k', '250k', '365k', '1200k'}
data = {
'Day' :'mon-Fri',
'Time' : '9-5'
}
print(Company_Name)
print(NumberOf_Employee)
print(Volume)
print(Data)

['Reliance', 'IBM', 'RBC', 'BMO']
('1000', '2500', '250', '3600')
{'120k', '365k', '250k', '1200k'}
{'Day': 'mon-Fri', 'Time': '9-5'}

In [73]:
# List:
studentAges=[40,23,45,33]
print(StudentsAges)

# Tuple:
studentAges=(40,23,45,33)
print(StudentsAges)


#set 
fruits={"Apple","Mango"}

print(Fruits)
        
# Dictionary:
    
fruitsTaste={"Apple":"Sweet","Watermelon":"Sweet"}

print(FruitsTaste)

[40, 23, 45, 33]
(40, 23, 45, 33)
{'Mango', 'Apple'}
{'Apple': 'Sweet', 'Watermelon': 'Sweet'}

In [75]:
fruitsTaste={"Apple":"Sweet","Watermelon":"Sweet"}


dup = fruitsTaste.copy()

print(dup)

{'Apple': 'Sweet', 'Watermelon': 'Sweet'}