In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Data Types Functions


- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

In [2]:
x = "Hello World"
type(x)

x = 20
type(x)

x = 20.5
type(x)


x = 1j #0+1j
type(x)


x = ["apple", "banana", "cherry"]
type(x)


x = ("apple", "banana", "cherry")
type(x)


x = range(6)
type(x)


x = {"name" : "John", "age" : 36}
type(x)



x = {"apple", "banana", "cherry"}
type(x)


x = frozenset({"apple", "banana", "cherry"})
type(x)


x = True
type(x)


x=b"Hello"
type(x)


x=bytearray(5)
type(x)


x=memoryview(bytes(5))

type(x) #print(type(x))

str

int

float

complex

list

tuple

range

dict

set

frozenset

bool

bytes

bytearray

memoryview

In [3]:
a = 10
b = 12
print(a+b)
print(a/(a-a)) 
print(a*b)
print('hello am learning block chain')
print('learning elastic ELK stack')

22

ZeroDivisionError: division by zero

In [11]:
age = int(input('Enter age: '))

print(age , type(age))

Enter age: 13
13 <class 'int'>

In [12]:
# major>=18
# minor<18

if age >= 18: #True block
    print(f'Major : age = {age}')
else: #False block
    print(f'Minor : age = {age}')

### Statements

**A program contains**

- sequential statements  : Flow of execution is line by line 
- control statements    : Flow of execution depends on control expression
- Iteratative Statements  : Flow of execution on Loops / Repeated Actions



#### Conditional Statements

- if  else
- elif
- nested if else

**decision making statements**

That is where control structures come in. A control structure directs the order of execution of the statements in a program.



        if expr:

            statement

**Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.**

In [ ]:
# other languages
if(condition){
    //body
}

In [17]:
if 10>=5:
    print('greater')
    print('10>5')
else:
    print('lesser')
    print('10<5')

greater
10>5

In [ ]:
# syntax
if (condition):
    this part of code runs for truthy conditions
    statements1
    statements2

In [18]:
age = int(input('Enter an age: '))

if (age>= 18):
    print('Major')
else:
    print('Minor')

Enter an age: 67
Major

In [20]:
msg = "Hi"

if msg == "Hi":
    print("Greeted")
    
print("next lines")
print(10+20)

Greeted
next lines
30

In [22]:
if 10>20:
    print("greater")

In [ ]:
# syntax
if condition:
    this part of code runs for truthy conditions
else:
     this part of code runs for false conditions

In [23]:
if 10>20:
    print("greater")
else:
    print("lesser")

lesser

In [24]:
if "a" > "A":
    print("Hello")
else:
    print("Bye")

Hello

In [25]:
num = 11


if (num%2 == 0):
    print("EVEN")
    print("BLOCK")
else:
    print("ODD")
    print("BLOCK")

ODD
BLOCK

In [29]:
n = int(input("enter the n value:"))

if (n%2 == 0):
    print("even")
else:
    print("odd")

enter the n value:687899868
even

In [31]:
print(not True)

False

In [30]:
if not True:
    print("Hello")
else:
    print("Bye")

Bye

In [32]:
print(not True)

False

In [33]:
if 10<1:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [34]:
print(type(10) is int)

True

In [35]:
if type("10") is int:
    print("True")
    print("True Block")
else:
    print("False")
    print("False block")

False
False block

In [36]:
num1=10
num2=10
if (num1==num2):
    print("EQUAL")
    print("world")
    print("hello")
    print("IF BLOCK")
else:
    print("NOT EQUAL")

EQUAL
world
hello
IF BLOCK

In [37]:
num1 = 10
num2 = 100

if num1 < num2: # if True Go Inside Else GOTO to the statement after IF block
    print(num2 ,"Greater")
    print("A")
    print("B")
    
print("next statements")
print("next next ")

100 Greater
A
B
next statements
next next

In [38]:
num1 = 1
num2 = 4
if num1>num2:
    print(num1 ,"Greater")
else:
    print(num1 ,"<" ,num2)
    print('{} is less than {}'.format(num1,num2))# string 2.x
    print(f'{num1} is less  than {num2}') #3.x

1 < 4
1 is less than 4
1 is less  than 4

In [39]:
if 'bar' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')

else:
    print("Not Present")
    
print('After conditional')

Expression was true
Executing statement in suite
...
Done.
After conditional

In [40]:
if type("Kumar") is str:
    print("Hey Hi")

Hey Hi

In [41]:
if 'zy' in 'python':                # Truthy
    print('yes')
else:
    print("NO")

NO

In [42]:
tomorrow = "No Holiday"

if tomorrow == "Holiday":
    print("Plan a Movie !")

else:
    print("Gotta go Office !")

Gotta go Office !

In [43]:
num = int(input()) # default input() will read only strings "10" "10.2"

if (num % 2 == 0): # True
    print("it is an  even")

else: #False
    print("it is an odd")

67
it is an odd

#### elif

- Handling the mutliple conditions 
- The elif keyword in python a way of saying "if the previous conditions were not true, then try this condition".

In [46]:
a = 40
b = 34

if b > a:
    print("b is greater than a")
elif a%2 != 0: 
    print("a and b are equal")
else:
    print("not equal")

print("Hello ")

not equal
Hello

In [50]:
name = input("Enter the Name")


if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Joe':
    print('Hello Joe')
elif name == "Joe":
    print('Hello Arnold')
else:
    print("I don't know who you are!")

print("Normal flow")
print(10+20)

Enter the NameJoe
Hello Joe
Normal flow
30

#### multiple if's
    - #In multiple if's , each and very condition is checked =>  even if the previous if is true or false

In [51]:
#in multiple if , each and very condition is checked =>  even if the previous if is true or false.
data = 10

if data>10:
    print("HI")
if type(data) is int:
    print("Hey")    
if type(data) is str:
    print("Hello")   
else:
    print("Bye Bye")
    
print("Continue from if else")

Hey
Bye Bye
Continue from if else

In [52]:
data = 10
if data>=10:
    print("HI")
    
elif type(data) is int:
    print("Hey")
    
elif type(data) is str:
    print("Hello")
    
else:
    print("Bye Bye")
    
print("Continue from if else")

HI
Continue from if else

## Try these

In [53]:
#grade example 

marks = [10,9,8,7,6]
sum1 = sum(marks)
print("sum is ",sum1)
n = len(marks)

avg = sum1/n

print("the average is ",avg)

print(avg,sum1)

if avg > 9:
    print("A")
elif avg>8:
    print("B")
elif avg>7:
    print("C")
elif avg>6:
    print("D")
else:
    print("Fail")

sum is  40
the average is  8.0
8.0 40
C

In [54]:
#grade example 

marks = [10,9,8,7,6]

sum1 = sum(marks)
print("sum is ",sum1)
n = len(marks)
avg = sum1/n

print("the average is ",avg)

# print(avg,sum1)

if avg > 9:
    print("A")
if avg>8:
    print("B")
if avg>7:
    print("C")
if avg>6:
    print("D")
else:
    print("Fail")

sum is  40
the average is  8.0
C
D

In [ ]:
if 
if else
if elif elif elif ... else
if if if if ... else

### nested if
    - writing if & else block inside another if & else block

In [56]:
age = int(input('Enter the AGE: '))

if age >= 18:
    have_voterid = input('Do you have VOTER-ID ? Y or N: ')
    if have_voterid == 'Y':
        print('Eligible to caste Vote')
    else:
        print('Please apply the card..')
else:
    print('Not Eligible to vote')

Enter the AGE: 16
Not Eligible to vote

In [57]:
# nested if 
num = 10
if num>2:
    num -= 2
    if num%2==0:
        print(num)
        num-=3
        if num%2==1:
            print(num)

8
5

In [58]:
a=int(input("Enter num1="))
b=int(input("Enter num2="))
c=int(input("Enter num3="))

# 9 6 10
if a>b:
    if a>c:
        print(a)
    else:
        print(c)
else:
    if(b>c):
        print(b)
    else:
        print(c)

Enter num1=9
Enter num2=6
Enter num3=10
10

In [59]:
# optimized


a=int(input("Enter num1: "))
b=int(input("Enter num2: "))
c=int(input("Enter num3: "))

if (a>b and a>c):
    print(a)
elif (b>a and b>c):
    print(b)
else:
    print(c)

Enter num1: 10
Enter num2: 9
Enter num3: 17
17

In [60]:
#excercise 


a =  int(input()) #5
b = int(input())  #2

if a>5:
    if a>=10:
        print(" If Block It's greater")
    else:
        print("It's not greater")
else:
    a+=5 #a = a+5
    b=-5
    if(a>=10):
        print(" Else Block It's greater")
    else:
        print("Lesser")

5
2
 Else Block It's greater

In [63]:
num =  int(input("Enter the NUM ")) #5
if num<=10:
    num-=3
    if num<=8:
        num-=2
        if num<=5:
            num+=2
            if num<=0:
                print("Hello")
            else:
                print("Bye")
        else:
            print("else-1")
    else:
        print("else -2")
else:
    print("else -3")

Enter the NUM 5
Bye

####  Short Hand If else
    If you have only one statement to execute, 
     
     you can put it on the same line as the if statement.

In [64]:
a = 10
b = 20

if a > b: 
    print('greater')
else:
    print('smaller')

smaller

In [66]:
a = 10
b = 20

print('greater') if a>b else print('smaller')

smaller

In [ ]:
if type(10) is str:print("text data")
else: print("non textual")

In [ ]:
a = True  #1

b= False  #0

if a>b: print("A is Greater")
print(a,b)

In [ ]:
msg = 100
print('textual data') if type(msg) is str else print('non textual data')

#### excercise

In [67]:
print(len([]))

print(bool([]))
print(bool(0))
print(bool(0.0))
print(bool(""))

0
False
False
False
False

In [ ]:
# note : bool(nothing or len : 0) -- False

# bool(something or len>0) --- True

In [69]:
print(bool("kumar"))

True

In [70]:
bool("")

False

In [71]:
if "":
    print("hello")
    print("True")
else:
    print('false block')

false block

In [72]:
print(bool([10]))

True

In [79]:
if bool(10<2) == True:
    print("hello")
    print("True")
else:
    print("Bye bye")

Bye bye

In [80]:
lst = [10,20 ,30]
if lst:
    print(max(lst))
else:
    print("lst is empty")

30

In [ ]:
# summary 
if 
if else
if elif elif elif .... else
if if if .... if else
nested if 
nested if else.
short hand if else

In [84]:
lst = [10,20,30,40]

while bool(lst) == True:
    print(lst.pop())
    print(lst)

40
[10, 20, 30]
30
[10, 20]
20
[10]
10
[]

In [ ]:
# for var in range(start,stop,step):
#     body

In [95]:
for i in range(0,100,1):
    if i%2 == 0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd

In [89]:
print(list(range(1,100,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [107]:
setA = {10,20,"kumar"}
n = len(setA)

for data in lst:
    print(data)

10
20
kumar

In [101]:
if type(lst[0]) is int:
    print(lst[0])
    
if type(lst[1]) is int:
    print(lst[1])
    
if type(lst[2]) is int:
    print(lst[2])
    
if type(lst[3]) is int:
    print(lst[3])
    
if type(lst[4]) is int:
    print(lst[4])
    
if type(lst[5]) is int:
    print(lst[5])
    
if type(lst[6]) is int:
    print(lst[6])

10
20
62

In [ ]:
#  for loop 
    range()
    print base for loop
# list
# tuple 
# set 
#  dictionary

In [108]:
lst = [10,20,30,40]

for data in lst:
    print(data)

10
20
30
40

In [109]:
countries = ('india' , 'pak' , 'aus')
for country in countries:
    print(country)

india
pak
aus

In [111]:
colors = {"red" , "blue" , "red" , "yellow" ,"white" , "blue"}

for color in colors:
    print(color)

red
white
yellow
blue

In [119]:
student = {"name" : "mahesh",
            "course" : "AI",
              "year": 2023
          }


for key in student:
    print(key , student.get(key), sep =' : ')

name : mahesh
course : AI
year : 2023