### Introduction

- Python can be used in database applications.

- One of the most popular databases is MySQL.
- Python needs a MySQL driver to access the MySQL database
- Python MySQL Connector is a Python driver that helps to integrate Python and MySQL. 
- This Python MySQL library allows the conversion between Python and MySQL data types. 
- MySQL Connector API is implemented using pure Python and does not require any third-party library. 


```linux
# install using pip in cmd 

pip install  mysql-connector-python 
```


```python
# Test in after installation.

import mysql.connector

```

### Example

```python

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database = 'yourdatabase',
  auth_plugin='mysql_native_password'
)

print(mydb) 

```

### Create Database

In [30]:
import mysql.connector as mysql

# connection object creation
mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    auth_plugin='mysql_native_password'
)


# cursor object creation
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

# drop database 
# mycursor.execute("DROP DATABASE mydatabase")

### What's cursor?

- It's a pointer , points to current table .
- A cursor holds the rows (one or more) returned by a SQL statement in resultSet.

- Cursor is a Temporary Memory or Temporary Work Station. 
- It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on the Table by the User. 

- With the help of cursor , we can peform all CREATE , SELECT , DELETE , UPDATE operations.
- We can iterate on cursor returned object , for display all entries.

There are 2 types of Cursors: Implicit Cursors, and Explicit Cursors.

    - Implicit Cursors: 
    - Explicit Cursors:

### Show Databases

In [28]:
import mysql.connector as mysql

mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('carcompany',)
('classicmodels',)
('college',)
('corona',)
('demo',)
('employees',)
('food',)
('information_schema',)
('maypymysqldb',)
('mysql',)
('performance_schema',)
('sqlpython',)
('sys',)

### Create Table

- To create a table in MySQL, use the "CREATE TABLE" statement.
- NOTE:
    define the name of the database when you create the connection

In [31]:
import mysql.connector as mysql

mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")


# list all tables
mycursor.execute("SHOW TABLES")

# DROP TABLE 
# mycursor.execute("DROP TABLE MayPyDB")

for x in mycursor:
    print(x)

('customers',)

### If the table already exists, use the ALTER TABLE keyword:

In [ ]:
import mysql.connector as mysql

mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

### Insertion

In [71]:
import mysql.connector as mysql

mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)


mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Kumar Rajamoni", "Hyderbad B.Hills RoadNo. 5")
mycursor.execute(sql, val)

mydb.commit() # by default auto_commit is false.

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [33]:
import mysql.connector as mysql

mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

## Retrivel/ Read from Database

In [37]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

# mycursor.execute("SELECT name FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)



# fectch only one record.

# myresult = mycursor.fetchone()

# print(myresult)

('John', 'Highway 21')

## Filteration on Data

In [38]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)


mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ben', 'Park Lane 38')

In [39]:
# with wildcard characters

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Susan', 'One way 98')
('Viola', 'Sideway 1633')

In [40]:

# sql injection 


sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2')

#### Order By

In [41]:
sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652')
('Ben', 'Park Lane 38')
('Betty', 'Green Grass 1')
('Chuck', 'Main Road 989')
('Hannah', 'Mountain 21')
('John', 'Highway 21')
('Michael', 'Valley 345')
('Peter', 'Lowstreet 4')
('Richard', 'Sky st 331')
('Sandy', 'Ocean blvd 2')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Viola', 'Sideway 1633')
('William', 'Central st 954')

In [42]:
# order by desc

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('William', 'Central st 954')
('Viola', 'Sideway 1633')
('Vicky', 'Yellow Garden 2')
('Susan', 'One way 98')
('Sandy', 'Ocean blvd 2')
('Richard', 'Sky st 331')
('Peter', 'Lowstreet 4')
('Michael', 'Valley 345')
('John', 'Highway 21')
('Hannah', 'Mountain 21')
('Chuck', 'Main Road 989')
('Betty', 'Green Grass 1')
('Ben', 'Park Lane 38')
('Amy', 'Apple st 652')

#### LIMIT

In [65]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Michael', 'Canyon 123')
('Sandy', 'Ocean blvd 2')

#### OFFSET

In [66]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652')
('Michael', 'Canyon 123')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')

## Deletion

In [43]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

#### NOTE: 

Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

In [45]:
mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

## Updation

In [67]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

In [47]:

#SQL INJECTION EXAMPLE 

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

## Join

>> SQL Join statement is used to combine data or rows from two or more tables based on a common field between them. Different types of Joins are as follows: 

    INNER JOIN
    LEFT JOIN
    RIGHT JOIN
    FULL JOIN
    NATURAL JOIN 

- You can combine rows from two or more tables, based on a related column between them, by using a JOIN statement.

### Example

In [82]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE IF NOT EXISTS SqlJoins")



mydb.close()

In [85]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = 'SqlJoins',
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

mycursor.execute(
                    ''' 
                    CREATE TABLE IF NOT EXISTS users(
                                id INTEGER                PRIMARY KEY,
                                name VARCHAR(20)          NOT NULL,
                                fav                       INTEGER NOT NULL 
                                )
                    '''
                )




mycursor.execute(
                    '''
                    CREATE TABLE IF NOT EXISTS products (
                                id INTEGER               PRIMARY KEY,
                                name VARCHAR(20)         NOT NULL
                                ) 
                    '''
                )


print("TABLES CREATED..")

TABLES CREATED..

In [87]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "SqlJoins",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()


userSql = "INSERT INTO users (id,name,fav) VALUES (%s, %s,%s)"
userdata = [
    (1,'John',154),(2,'Peter','154'),(3,'Amy',155),(4,'samantha',156),(5,'Miller',152),(6,'Hannah',152)
]

mycursor.executemany(userSql,userdata)


mydb.commit()
print("LOG: Data inserted to Users table .....")


productSql =  "INSERT INTO products (id,name) VALUES (%s, %s)"
productdata = [(152,'Death By Icecream'),
                (154,'Chocolate Heaven'),
                (155,'Tasty Lemons'),
                (156,'Vanilla Dreams')] 


mycursor.executemany(productSql,productdata)

mydb.commit()
print("LOG: Data inserted to Products table .....")

LOG: Data inserted to Users table .....
LOG: Data inserted to Products table .....

### INNER-JOIN

- The INNER JOIN keyword selects all rows from both the tables as long as the condition is satisfied. 
- This keyword will create the result-set by combining all rows from both the tables where the condition satisfies i.e value of the common field will be the same

- We can also write JOIN instead of INNER JOIN. JOIN is same as INNER JOIN. 



![](https://blog.codinghorror.com/content/images/uploads/2007/10/6a0120a85dcdae970b012877702708970c-pi.png)

```sql
SELECT table1.column1,table1.column2,table2.column1,....
FROM table1 
INNER JOIN table2
ON table1.matching_column = table2.matching_column;


table1: First table.
table2: Second table
matching_column: Column common to both the tables.

```

In [88]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "SqlJoins",
    auth_plugin='mysql_native_password'
)


mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
('samantha', 'Vanilla Dreams')
('Miller', 'Death By Icecream')
('Hannah', 'Death By Icecream')

###  LEFT JOIN

- This join returns all the rows of the table on the left side of the join and matches rows for the table on the right side of the join. 

- For the rows for which there is no matching row on the right side, the result-set will contain null. 

- LEFT JOIN is also known as LEFT OUTER JOIN


```sql

SELECT table1.column1,table1.column2,table2.column1,....
FROM table1 
LEFT JOIN table2
ON table1.matching_column = table2.matching_column;


```

![](https://i.stack.imgur.com/VkAT5.png)

In [94]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "SqlJoins",
    auth_plugin='mysql_native_password'
)


mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
('samantha', 'Vanilla Dreams')
('Miller', 'Death By Icecream')
('Hannah', 'Death By Icecream')
('Brad', None)
('Sumit', None)

### RIGHT JOIN

- RIGHT JOIN is similar to LEFT JOIN. This join returns all the rows of the table on the right side of the join and matching rows for the table on the left side of the join. 

- For the rows for which there is no matching row on the left side, the result-set will contain null.

- RIGHT JOIN is also known as RIGHT OUTER JOIN. 


```sql
SELECT table1.column1,table1.column2,table2.column1,....
FROM table1 
RIGHT JOIN table2
ON table1.matching_column = table2.matching_column;



```
![](https://media.geeksforgeeks.org/wp-content/uploads/20220515095048/join.jpg)

In [97]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "SqlJoins",
    auth_plugin='mysql_native_password'
)


mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Hannah', 'Death By Icecream')
('Miller', 'Death By Icecream')
('Peter', 'Chocolate Heaven')
('John', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
('samantha', 'Vanilla Dreams')
(None, 'Biryani')