### Introduction

- Python can be used in database applications.

- One of the most popular databases is MySQL.
- Python needs a MySQL driver to access the MySQL database
- Python MySQL Connector is a Python driver that helps to integrate Python and MySQL. 
- This Python MySQL library allows the conversion between Python and MySQL data types. 
- MySQL Connector API is implemented using pure Python and does not require any third-party library. 


```linux
# install using pip in cmd 

pip install  mysql-connector-python 
```


```python
# Test in after installation.

import mysql.connector

```

In [1]:
import mysql.connector as mysql

In [2]:
dir(mysql)

['BINARY',
 'Binary',
 'CharacterSet',
 'ClientFlag',
 'Connect',
 'DATETIME',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'FieldFlag',
 'FieldType',
 'HAVE_CEXT',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'MySQLConnection',
 'NUMBER',
 'NotSupportedError',
 'OperationalError',
 'PoolError',
 'ProgrammingError',
 'ROWID',
 'RefreshOption',
 'STRING',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '_CONNECTION_POOLS',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '__version_info__',
 '_get_failover_connection',
 '_get_pooled_connection',
 'abstracts',
 'apilevel',
 'authentication',
 'catch23',
 'charsets',
 'connect',
 'connection',
 'constants',
 'conversion',
 'cursor',
 'custom_error_exception',
 'custom_types',
 'dbapi',
 'errorcode',
 'errors',
 'locales',
 'network',
 'optionfiles',
 'paramstyle',
 'protocol',
 'read_option_files',
 'threadsafety',
 'utils',
 'version']

### Example

```python

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database = 'yourdatabase',
  auth_plugin='mysql_native_password'
)

print(mydb) 

```

In [3]:
import mysql.connector as mysql

# connection object creation
mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    auth_plugin='mysql_native_password'
)


print(mydb)

dir(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002A3DFC2E5F0>

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_auth_plugin',
 '_auth_switch_request',
 '_autocommit',
 '_buffered',
 '_charset_id',
 '_check_server_version',
 '_client_flags',
 '_client_host',
 '_client_port',
 '_compress',
 '_connection_timeout',
 '_consume_results',
 '_converter_class',
 '_database',
 '_do_auth',
 '_do_handshake',
 '_execute_query',
 '_force_ipv6',
 '_get_connection',
 '_get_self',
 '_get_warnings',
 '_handle_binary_ok',
 '_handle_binary_result',
 '_handle_eof',
 '_handle_load_data_infile',
 '_handle_ok',
 '_handle_result',
 '_handle_server_status',
 '_handshake',
 '_have_next_result',
 '_host',
 '_in_transaction',
 '_open_connection',
 '_password',
 '_pool_config_version',
 '_port',
 '_post_connection',
 '_prepared_statements',
 '_protocol',
 '_raise_on_warnings',
 '_raw',
 '_read_option_files',
 '_send_cmd',
 '_send_data',
 '_server_version',
 '_socket',
 '_sql_mode',
 '_ssl',
 '_ssl_active',
 '_time_zone',
 '_unix_socket',
 '_unread_result',
 '_use_unicode',
 '_user',
 'autocommit',
 'can_consume_results',
 'charset',
 'close',
 'cmd_change_user',
 'cmd_debug',
 'cmd_init_db',
 'cmd_ping',
 'cmd_process_info',
 'cmd_process_kill',
 'cmd_query',
 'cmd_query_iter',
 'cmd_quit',
 'cmd_refresh',
 'cmd_reset_connection',
 'cmd_shutdown',
 'cmd_statistics',
 'cmd_stmt_close',
 'cmd_stmt_execute',
 'cmd_stmt_prepare',
 'cmd_stmt_reset',
 'cmd_stmt_send_long_data',
 'collation',
 'commit',
 'config',
 'connect',
 'connection_id',
 'consume_results',
 'converter',
 'cursor',
 'database',
 'disconnect',
 'get_row',
 'get_rows',
 'get_server_info',
 'get_server_version',
 'get_warnings',
 'handle_unread_result',
 'in_transaction',
 'info_query',
 'is_connected',
 'isset_client_flag',
 'ping',
 'python_charset',
 'raise_on_warnings',
 'reconnect',
 'reset_session',
 'rollback',
 'server_host',
 'server_port',
 'set_charset_collation',
 'set_client_flags',
 'set_converter_class',
 'set_login',
 'set_unicode',
 'shutdown',
 'sql_mode',
 'start_transaction',
 'time_zone',
 'unix_socket',
 'unread_result',
 'user']

In [4]:
print(mydb.get_server_info() , mydb.get_server_version())

8.0.32 (8, 0, 32)

In [5]:
print(mydb.is_connected())

True

In [6]:
print(mydb.server_host, mydb.server_port , mydb.user , mydb.database)

localhost 3306 mayUser None

### Create Database

In [36]:
import mysql.connector as mysql

# connection object creation
mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    auth_plugin='mysql_native_password'
)


# cursor object creation
mycursor = mydb.cursor()


#print(dir(mycursor))

mycursor.execute("CREATE DATABASE IF NOT EXISTS MayPyDB ")

#print("Database created ... successfully...")


# drop database 
#mycursor.execute("DROP DATABASE maypymysqldb")

#print("Database  dropped.. ... successfully...")


# show database 

mycursor.execute("SHOW DATABASES")

# resultSet = mycursor.fetchall()

# print(resultSet)

for dbname in mycursor.fetchall():
    print(dbname)

('carcompany',)
('classicmodels',)
('college',)
('corona',)
('demo',)
('employees',)
('food',)
('information_schema',)
('maypydb',)
('mysql',)
('performance_schema',)
('sqljoins',)
('sqlpython',)
('sys',)

### What's cursor?

- It's a pointer , points to current table .
- A cursor holds the rows (one or more) returned by a SQL statement in resultSet.

- Cursor is a Temporary Memory or Temporary Work Station. 
- It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on the Table by the User. 

- With the help of cursor , we can peform all CREATE , SELECT , DELETE , UPDATE operations.
- We can iterate on cursor returned object , for display all entries.

There are 2 types of Cursors: Implicit Cursors, and Explicit Cursors.

    - Implicit Cursors: 
    - Explicit Cursors:

### Show Databases

In [34]:
import mysql.connector as mysql

mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('carcompany',)
('classicmodels',)
('college',)
('corona',)
('demo',)
('employees',)
('food',)
('information_schema',)
('mysql',)
('performance_schema',)
('sqljoins',)
('sqlpython',)
('sys',)

### Create Table

- To create a table in MySQL, use the "CREATE TABLE" statement.
- NOTE:
    define the name of the database when you create the connection

In [37]:
import mysql.connector as mysql

mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")


# list all tables
mycursor.execute("SHOW TABLES")

# DROP TABLE 
# mycursor.execute("DROP TABLE MayPyDB")

for x in mycursor:
    print(x)

('customers',)

### If the table already exists, use the ALTER TABLE keyword:

In [38]:
import mysql.connector as mysql

mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY") 

print("alter table command completed....")

alter table command completed....

### Insertion

In [41]:
import mysql.connector as mysql

mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)


mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Kumar Rajamoni", "Hyderbad B.Hills RoadNo. 5")
mycursor.execute(sql, val)

mydb.commit() # by default auto_commit is false.

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [42]:
import mysql.connector as mysql

mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

## Retrivel/ Read from Database

In [44]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()


mycursor.execute("SELECT * FROM customers")

# mycursor.execute("SELECT name FROM customers")

# myresult = mycursor.fetchall()

# for x in myresult:
#   print(x)



# fectch only one record.

myresult = mycursor.fetchone()

print(myresult)

('Kumar Rajamoni', 'Hyderbad B.Hills RoadNo. 5', 3)

## Filteration on Data

In [45]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)


mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ben', 'Park Lane 38', 13)

In [46]:
# with wildcard characters

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Susan', 'One way 98', 11)
('Viola', 'Sideway 1633', 16)

In [47]:

# sql injection 


sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2', 12)

#### Order By

In [48]:
sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652', 5)
('Ben', 'Park Lane 38', 13)
('Betty', 'Green Grass 1', 9)
('Chuck', 'Main Road 989', 15)
('Hannah', 'Mountain 21', 6)
('Kumar Rajamoni', 'Hyderbad B.Hills RoadNo. 5', 3)
('Michael', 'Valley 345', 7)
('Peter', 'Lowstreet 4', 4)
('Richard', 'Sky st 331', 10)
('Sandy', 'Ocean blvd 2', 8)
('Susan', 'One way 98', 11)
('Vicky', 'Yellow Garden 2', 12)
('Viola', 'Sideway 1633', 16)
('William', 'Central st 954', 14)

In [49]:
# order by desc

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('William', 'Central st 954', 14)
('Viola', 'Sideway 1633', 16)
('Vicky', 'Yellow Garden 2', 12)
('Susan', 'One way 98', 11)
('Sandy', 'Ocean blvd 2', 8)
('Richard', 'Sky st 331', 10)
('Peter', 'Lowstreet 4', 4)
('Michael', 'Valley 345', 7)
('Kumar Rajamoni', 'Hyderbad B.Hills RoadNo. 5', 3)
('Hannah', 'Mountain 21', 6)
('Chuck', 'Main Road 989', 15)
('Betty', 'Green Grass 1', 9)
('Ben', 'Park Lane 38', 13)
('Amy', 'Apple st 652', 5)

#### LIMIT

In [50]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Kumar Rajamoni', 'Hyderbad B.Hills RoadNo. 5', 3)
('Peter', 'Lowstreet 4', 4)
('Amy', 'Apple st 652', 5)
('Hannah', 'Mountain 21', 6)
('Michael', 'Valley 345', 7)

#### OFFSET

In [51]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652', 5)
('Hannah', 'Mountain 21', 6)
('Michael', 'Valley 345', 7)
('Sandy', 'Ocean blvd 2', 8)
('Betty', 'Green Grass 1', 9)

## Deletion

In [53]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

#### NOTE: 

Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

In [54]:
mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

## Updation

In [55]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "MayPyDB",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [56]:

#SQL INJECTION EXAMPLE 

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

## Join

>> SQL Join statement is used to combine data or rows from two or more tables based on a common field between them. Different types of Joins are as follows: 

    INNER JOIN
    LEFT JOIN
    RIGHT JOIN
    FULL JOIN
    NATURAL JOIN 

- You can combine rows from two or more tables, based on a related column between them, by using a JOIN statement.

### Example

In [ ]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE IF NOT EXISTS SqlJoins")



mydb.close()

In [ ]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = 'SqlJoins',
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

mycursor.execute(
                    ''' 
                    CREATE TABLE IF NOT EXISTS users(
                                id INTEGER                PRIMARY KEY,
                                name VARCHAR(20)          NOT NULL,
                                fav                       INTEGER NOT NULL 
                                )
                    '''
                )




mycursor.execute(
                    '''
                    CREATE TABLE IF NOT EXISTS products (
                                id INTEGER               PRIMARY KEY,
                                name VARCHAR(20)         NOT NULL
                                ) 
                    '''
                )


print("TABLES CREATED..")

In [ ]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "SqlJoins",
    auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()


userSql = "INSERT INTO users (id,name,fav) VALUES (%s, %s,%s)"
userdata = [
    (1,'John',154),(2,'Peter','154'),(3,'Amy',155),(4,'samantha',156),(5,'Miller',152),(6,'Hannah',152)
]

mycursor.executemany(userSql,userdata)


mydb.commit()
print("LOG: Data inserted to Users table .....")


productSql =  "INSERT INTO products (id,name) VALUES (%s, %s)"
productdata = [(152,'Death By Icecream'),
                (154,'Chocolate Heaven'),
                (155,'Tasty Lemons'),
                (156,'Vanilla Dreams')] 


mycursor.executemany(productSql,productdata)

mydb.commit()
print("LOG: Data inserted to Products table .....")

### INNER-JOIN

- The INNER JOIN keyword selects all rows from both the tables as long as the condition is satisfied. 
- This keyword will create the result-set by combining all rows from both the tables where the condition satisfies i.e value of the common field will be the same

- We can also write JOIN instead of INNER JOIN. JOIN is same as INNER JOIN. 



![](https://blog.codinghorror.com/content/images/uploads/2007/10/6a0120a85dcdae970b012877702708970c-pi.png)

```sql
SELECT table1.column1,table1.column2,table2.column1,....
FROM table1 
INNER JOIN table2
ON table1.matching_column = table2.matching_column;


table1: First table.
table2: Second table
matching_column: Column common to both the tables.

```

In [ ]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "SqlJoins",
    auth_plugin='mysql_native_password'
)


mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

###  LEFT JOIN

- This join returns all the rows of the table on the left side of the join and matches rows for the table on the right side of the join. 

- For the rows for which there is no matching row on the right side, the result-set will contain null. 

- LEFT JOIN is also known as LEFT OUTER JOIN


```sql

SELECT table1.column1,table1.column2,table2.column1,....
FROM table1 
LEFT JOIN table2
ON table1.matching_column = table2.matching_column;


```

![](https://i.stack.imgur.com/VkAT5.png)

In [ ]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "SqlJoins",
    auth_plugin='mysql_native_password'
)


mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

### RIGHT JOIN

- RIGHT JOIN is similar to LEFT JOIN. This join returns all the rows of the table on the right side of the join and matching rows for the table on the left side of the join. 

- For the rows for which there is no matching row on the left side, the result-set will contain null.

- RIGHT JOIN is also known as RIGHT OUTER JOIN. 


```sql
SELECT table1.column1,table1.column2,table2.column1,....
FROM table1 
RIGHT JOIN table2
ON table1.matching_column = table2.matching_column;



```
![](https://media.geeksforgeeks.org/wp-content/uploads/20220515095048/join.jpg)

In [ ]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = "SqlJoins",
    auth_plugin='mysql_native_password'
)


mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

### Task 
-  Create a Database with someName
- Create a Table with same structure of json document
- Read the json data url and convert back to python dictionary 
- Iterate on data , insert one by one entry into table.


- https://github.com/vega/vega/blob/main/docs/data/cars.json

In [47]:
import mysql.connector as mysql


mydb = mysql.connect(
    host = "localhost",
    user = "mayUser",
    password = "MayDB@18",
    database = 'classic_cars_db',
    auth_plugin='mysql_native_password'
)

cursor = mydb.cursor()

#cursor.execute("CREATE DATABASE IF NOT EXISTS classic_cars_db")
tableQuery = '''
        CREATE TABLE IF NOT EXISTS  car(
        carsId INT AUTO_INCREMENT PRIMARY KEY,
        Name VARCHAR(255) NOT NULL,
        Miles INT ,
        Cylinders INT  ,
        Displacement INT ,
        Horsepower INT ,
        Weight INT ,
        Acceleration INT ,
        Year VARCHAR(15) ,
        Origin VARCHAR(255)
        )
'''
cursor.execute(tableQuery)

print('table created...')

table created...

In [37]:
#dir(cursor)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_batch_insert',
 '_binary',
 '_connection',
 '_description',
 '_execute_iter',
 '_executed',
 '_executed_list',
 '_fetch_row',
 '_fetch_warnings',
 '_handle_eof',
 '_handle_noresultset',
 '_handle_result',
 '_handle_resultset',
 '_handle_warnings',
 '_have_unread_result',
 '_last_insert_id',
 '_nextrow',
 '_process_params',
 '_process_params_dict',
 '_raw',
 '_reset_result',
 '_rowcount',
 '_set_connection',
 '_stored_results',
 '_warning_count',
 '_warnings',
 'arraysize',
 'callproc',
 'close',
 'column_names',
 'description',
 'execute',
 'executemany',
 'fetchall',
 'fetchmany',
 'fetchone',
 'fetchwarnings',
 'getlastrowid',
 'lastrowid',
 'next',
 'nextset',
 'reset',
 'rowcount',
 'setinputsizes',
 'setoutputsize',
 'statement',
 'stored_results',
 'with_rows']

In [51]:
import requests as r

response = None 
apiurl = "https://raw.githubusercontent.com/vega/vega/main/docs/data/cars.json"

try:
    data = r.get("https://raw.githubusercontent.com/vega/vega/main/docs/data/cars.json")
    if (data.status_code == 200):
        response = data.json()
    else:
        print('status code is not 200 , issue with endpoint..')
        
except Exception as e:
    print(f'Exception occured whil calling and parsing data : {e}')
    
#print(type(response))

for entry in response:
    insertQuery = '''
                 insert into car(Name,Miles,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin)
                 values(%s,%s,%s,%s,%s,%s,%s,%s,%s)   
                '''
    values = list(entry.values())
    cursor.execute(insertQuery,values)
    mydb.commit()

inserted : 1

dict_items([('Name', 'chevrolet chevelle malibu'), ('Miles_per_Gallon', 18), ('Cylinders', 8), ('Displacement', 307), ('Horsepower', 130), ('Weight_in_lbs', 3504), ('Acceleration', 12), ('Year', '1970-01-01'), ('Origin', 'USA')])

In [43]:
len(['chevrolet chevelle malibu', 18, 8, 307, 130, 3504, 12, '1970-01-01', 'USA'])

9

In [53]:
query = '''
                INSERT INTO cars(Name,Miles_per_gallon,Cylinders,Displacement,HorsePower,Weight,Acceleration,Year,Origin) 
                VALUES('{0}',{1},{2},{3},{4},{5},{6},{7},'{8}')
                 '''

In [57]:
query.format('ford maverick',15, 6, 250, 72, 3158, 19.5, '1975-01-01', 'USA')

"\n                INSERT INTO cars(Name,Miles_per_gallon,Cylinders,Displacement,HorsePower,Weight,Acceleration,Year,Origin) \n                VALUES('ford maverick',15,6,250,72,3158,19.5,1975-01-01,'USA')\n                 "